@charset "UTF-8";

// Decanter overrides.
// ----------------------------------------------------------------------
.su-masthead {

  .system-menu-block,
  .block-menu,
  .navigation,
  .menu--main {
    display: inline;
  }

  .su-multi-menu {
    @include grid-media-max('sm') {
      top: -57px;
    }

    .su-multi-menu__menu-lv1 {
      @include grid-media('md') {
        width: 28em;
        right: 0px;
      }
    }
  }
}

// Center everything.
// ----------------------------------------------------------------------
.su-masthead__wrapper {
  // @include flex-container;
  // @include centered-column;
  @include grid-media('md') {
    @include flex-container;
    @include margin(null auto);
    max-width: $su-screen-md;
  }

  @include grid-media('lg') {
    max-width: $su-screen-lg;
  }

  @include grid-media('xl') {
    max-width: $su-screen-xl;
  }

  @include grid-media('2xl') {
    max-width: $su-screen-2xl;
  }

  @include modular-spacing('padding', 1 null null);
}
