#sidebar__wrapper {
  position: absolute;
  background: rgba(238, 238, 238, 0.9);
  top: 160px;
  z-index: 10;

  h2 {
    color: white;
    background: teal;
    padding: 7px 30px;
  }

  ul {
    padding: 19px 12px;
  }
}

@media (max-width: 860px) {
  #sidebar__wrapper {
    position: static;
    margin: 10px auto;
  }
}