@charset "UTF-8";

//
// @modular-margin-vertical
//
@mixin modular-margin-vertical {

  @include grid-media('2xl') {
    margin-top: map-get($modular-spacing, '2xl');
    margin-bottom: map-get($modular-spacing, '2xl');
  }

  @include grid-media('xl') {
    margin-top: map-get($modular-spacing, 'xl');
    margin-bottom: map-get($modular-spacing, 'xl');
  }

  @include grid-media('lg') {
    margin-top: map-get($modular-spacing, 'lg');
    margin-bottom: map-get($modular-spacing, 'lg');
  }

  @include grid-media('md') {
    margin-top: map-get($modular-spacing, 'md');
    margin-bottom: map-get($modular-spacing, 'md');
  }

  @include grid-media('sm') {
    margin-top: map-get($modular-spacing, 'sm');
    margin-bottom: map-get($modular-spacing, 'sm');
  }

  margin-top: map-get($modular-spacing, 'xs');
  margin-bottom: map-get($modular-spacing, 'xs');
}
