@charset 'UTF-8';
//
// Navigation Toggle
//
// A clickable drop button as an alternate to an accordian style menu.
//
// .su-nav-toggle--light - A lighter option.
//
// Markup: ../templates/components/nav-toggle/nav-toggle.twig
//
// Style guide: Components.Nav Toggle
//

.su-nav-toggle {

  &[aria-expanded="true"] {
    transform: rotate(180deg);
    transition: transform 0.3s ease-out;
  }

  &[aria-expanded="false"] {
    transform: rotate(0deg);
    transition: transform 0.3s ease-out;
  }
}
