@charset 'UTF-8';
/**
 * This file overrides and extends base typography styles found in Decanter.
 * See: https://github.com/SU-SWS/decanter/blob/master/core/src/scss/elements/typography/_typography.scss
 * See: node_modules/decanter/core/src/scss/elements/typography/_typography.scss
 */

.su-wysiwyg-text {

    &:first-child {
      @include margin(0 null null null);
      @include padding(0 null null null);
    }

  ////
  //// Headings overrides.
  ////
  //
  //h1,
  //h2,
  //h3,
  //h4,
  //h5,
  //h6 {
  //  // Remove margin-top and padding-top when a heading is the first item on the page
  //  &:first-of-type {
  //    @include margin(0 null null null);
  //    @include padding(0 null null null);
  //  }
  //}

  h1 {
    @include modular-spacing('margin', 4 null 5 null);
  }

  h2 {
    @include modular-spacing('margin', 1 null 1 null);
  }

  h3 {
    @include modular-spacing('margin', 0 null 1 null);
  }

  h4 {
    @include modular-spacing('margin', 0 null 1 null);
  }

  h5 {
    @include modular-spacing('margin', -1 null -1 null);
  }

  h6 {
    @include modular-spacing('margin-bottom', -2);
  }

  //
  // WYSIWYG Styles overrides.
  //

  // Caption Styles.
  .caption {
    figcaption {
      text-align: center;
    }
  }

  p {
    @include modular-spacing('padding-bottom', 1);
    @include margin(0 null null null);

    //// Remove margin-top and padding-top when a <p> is the first item on the page
    //&:first-of-type {
    //  @include margin(0 null null null);
    //  @include padding(0 null null null);
    //}

    // Remove margin-bottom and padding-bottom when a <p> is the last item on the page
    &:last-of-type {
      @include margin(null null 0 null);
      @include padding(null null 0 null);
    }
  }

  .su-button {
    @include modular-spacing('margin-bottom', 0);
  }

  .su-button--big {
    @include modular-spacing('margin-bottom', 0);
  }

  .su-button--secondary {
    @include modular-spacing('margin-bottom', 0);
  }

  // Big bold beautiful callout text.
  .su-callout-text {
    @include margin(0 auto 1em 0);
    @include modular-spacing('margin', -3 null 1 null);
    display: block;
    font-size: 28px;
    font-style: normal;
    font-weight: bold;
    line-height: 33px;
    width: 80%;

    &:first-of-type {
      @include margin(0 null null null);
      @include padding(0 null null null);
    }
  }

  // Drop cap styles.
  .su-drop-cap {
    &::first-letter {
      @include margin(11px 12px 0 0);
      float: left;
      font-style: normal;
      font-weight: bold;
      font-size: 3.5em;
      line-height: 0.6;
      text-transform: uppercase;
    }

    // Adding a drop-cap will automatically apply intro-text
    @include intro-text;
  }

  .su-font-splash {
    @include modular-spacing('margin', -1 null 2 null);

    &:first-of-type {
      @include margin(0 null null null);
      @include padding(0 null null null);
    }
  }

  .su-intro-text {
    @include modular-spacing('margin-bottom', 0);
  }

  .su-quote-text {
    @include type-b;
  }

  // A shadowy type.
  .su-related-text {
    @include box-shadow('paper');
    @include modular-spacing('margin-bottom', 3);
    @include padding(25px);
    border: 1px solid #e3e3e3;

    // Yeah, let's not remove the margin-bottom when it is last.
    &:last-of-type {
      @include modular-spacing('margin-bottom', 3);
      @include padding(25px);
    }
  }
}
