@charset "UTF-8";

.su-multi-menu--buttons {

  // Parent Items
  .su-multi-menu__item--parent {
    position: relative;
  }

  .su-nav-toggle {
    right: 6px;
  }

  // Menu Level 1 (top)
  .su-multi-menu__menu-lv1 {
    // Top Level Parent Items.
    > .su-multi-menu__item--parent {

      > .su-multi-menu__link {
        // Desktop Styles.
        @include grid-media('lg') {
          display: block;
          padding-right: 15px;
        }
      }

      &:last-child {
        > .su-multi-menu__link {
          margin-right: 0;
        }
      }

    } // end top level parent items.
  }
}
