.dialog-off-canvas-main-canvas > header {
  margin: 0 auto;
  padding-top: 32px;
  padding-bottom: 32px;
  display: grid;
  display: -ms-grid; }
  @media only screen and (min-width: 0) {
    .dialog-off-canvas-main-canvas > header {
      max-width: -32px; } }
  @media only screen and (min-width: 576px) {
    .dialog-off-canvas-main-canvas > header {
      max-width: 544px; } }
  @media only screen and (min-width: 768px) {
    .dialog-off-canvas-main-canvas > header {
      max-width: 732px; } }
  @media only screen and (min-width: 992px) {
    .dialog-off-canvas-main-canvas > header {
      max-width: 956px; } }
  @media only screen and (min-width: 1200px) {
    .dialog-off-canvas-main-canvas > header {
      max-width: 1164px; } }
  @media only screen and (min-width: 1500px) {
    .dialog-off-canvas-main-canvas > header {
      max-width: 1462px; } }
  @media only screen and (min-width: 1500px) {
    .dialog-off-canvas-main-canvas > header {
      padding-top: 38px;
      padding-bottom: 38px; } }
  @media only screen and (min-width: 1200px) {
    .dialog-off-canvas-main-canvas > header {
      padding-top: 36px;
      padding-bottom: 36px; } }
  @media only screen and (min-width: 992px) {
    .dialog-off-canvas-main-canvas > header {
      padding-top: 36px;
      padding-bottom: 36px; } }
  @media only screen and (min-width: 768px) {
    .dialog-off-canvas-main-canvas > header {
      padding-top: 36px;
      padding-bottom: 36px; } }
  @media only screen and (min-width: 576px) {
    .dialog-off-canvas-main-canvas > header {
      padding-top: 32px;
      padding-bottom: 32px; } }
  @media only screen and (min-width: 0) {
    .dialog-off-canvas-main-canvas > header {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr; }
      .dialog-off-canvas-main-canvas > header > * {
        margin-right: 16px;
        margin-left: 16px; }
      @supports (grid-column-gap: 20px) {
        .dialog-off-canvas-main-canvas > header {
          grid-column-gap: 32px; }
          .dialog-off-canvas-main-canvas > header > * {
            margin-right: 0;
            margin-left: 0; } }
      .dialog-off-canvas-main-canvas > header > * {
        margin-top: 16px;
        margin-bottom: 16px; }
      @supports (grid-row-gap: 20px) {
        .dialog-off-canvas-main-canvas > header {
          grid-row-gap: 32px; }
          .dialog-off-canvas-main-canvas > header > * {
            margin-top: 0;
            margin-bottom: 0; } } }
  @media only screen and (min-width: 768px) {
    .dialog-off-canvas-main-canvas > header {
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr; }
      .dialog-off-canvas-main-canvas > header > * {
        margin-right: 18px;
        margin-left: 18px; }
      @supports (grid-column-gap: 20px) {
        .dialog-off-canvas-main-canvas > header {
          grid-column-gap: 36px; }
          .dialog-off-canvas-main-canvas > header > * {
            margin-right: 0;
            margin-left: 0; } }
      .dialog-off-canvas-main-canvas > header > * {
        margin-top: 18px;
        margin-bottom: 18px; }
      @supports (grid-row-gap: 20px) {
        .dialog-off-canvas-main-canvas > header {
          grid-row-gap: 36px; }
          .dialog-off-canvas-main-canvas > header > * {
            margin-top: 0;
            margin-bottom: 0; } } }
  @media only screen and (min-width: 992px) {
    .dialog-off-canvas-main-canvas > header {
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr; }
      .dialog-off-canvas-main-canvas > header > * {
        margin-right: 18px;
        margin-left: 18px; }
      @supports (grid-column-gap: 20px) {
        .dialog-off-canvas-main-canvas > header {
          grid-column-gap: 36px; }
          .dialog-off-canvas-main-canvas > header > * {
            margin-right: 0;
            margin-left: 0; } }
      .dialog-off-canvas-main-canvas > header > * {
        margin-top: 18px;
        margin-bottom: 18px; }
      @supports (grid-row-gap: 20px) {
        .dialog-off-canvas-main-canvas > header {
          grid-row-gap: 36px; }
          .dialog-off-canvas-main-canvas > header > * {
            margin-top: 0;
            margin-bottom: 0; } } }
  @media only screen and (min-width: 1200px) {
    .dialog-off-canvas-main-canvas > header {
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr; }
      .dialog-off-canvas-main-canvas > header > * {
        margin-right: 18px;
        margin-left: 18px; }
      @supports (grid-column-gap: 20px) {
        .dialog-off-canvas-main-canvas > header {
          grid-column-gap: 36px; }
          .dialog-off-canvas-main-canvas > header > * {
            margin-right: 0;
            margin-left: 0; } }
      .dialog-off-canvas-main-canvas > header > * {
        margin-top: 18px;
        margin-bottom: 18px; }
      @supports (grid-row-gap: 20px) {
        .dialog-off-canvas-main-canvas > header {
          grid-row-gap: 36px; }
          .dialog-off-canvas-main-canvas > header > * {
            margin-top: 0;
            margin-bottom: 0; } } }
  @media only screen and (min-width: 1500px) {
    .dialog-off-canvas-main-canvas > header {
      -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr; }
      .dialog-off-canvas-main-canvas > header > * {
        margin-right: 19px;
        margin-left: 19px; }
      @supports (grid-column-gap: 20px) {
        .dialog-off-canvas-main-canvas > header {
          grid-column-gap: 38px; }
          .dialog-off-canvas-main-canvas > header > * {
            margin-right: 0;
            margin-left: 0; } }
      .dialog-off-canvas-main-canvas > header > * {
        margin-top: 19px;
        margin-bottom: 19px; }
      @supports (grid-row-gap: 20px) {
        .dialog-off-canvas-main-canvas > header {
          grid-row-gap: 38px; }
          .dialog-off-canvas-main-canvas > header > * {
            margin-top: 0;
            margin-bottom: 0; } } }

@media only screen and (min-width: 768px) {
  .su-lockup {
    -ms-grid-column: 1;
    grid-column: 1 / span 2;
    -ms-grid-column-span: 2; } }

@media only screen and (min-width: 768px) {
  .su-site-search {
    -ms-grid-column: 3;
    grid-column: 3 / span 1;
    -ms-grid-column-span: 1; } }

@media only screen and (min-width: 768px) {
  .menu--main {
    -ms-grid-column: 1;
    grid-column: 1 / span 3;
    -ms-grid-column-span: 3; } }

/*# sourceMappingURL=layout.css.map */