@charset "UTF-8";

// Overlapping contextual links are difficult. Different links show at the top for different users.
// Space them all out so we can see them all.
$sel: '';
@for $i from 0 through 4 {
  $sel: if($i == 0, '.contextual-region .contextual-region', selector-nest($sel, '.contextual-region')) !global;

  #{$sel} {
    .contextual {
      right: 32px * $i;
    }
  }
}
