{#
/**
 * @file
 * Available variables:
 *
 * site_logo: Logo for site as defined in Appearance or theme settings.
 * site_name: Name for site as defined in Site information settings.
 * site_slogan: Slogan for site as defined in Site information settings
 * content: Containts the above vars with more information.
 * lockup: Settings from the theme.
 * configuration: More settings from the theme.
 * - id: "system_branding_block"
 * - label: "Site Branding"
 * - use_site_logo: boolean
 * - use_site_name: boolean
 * - use_site_slogan: boolean
 */
#}

{% extends "@basic-dist/decanter/components/lockup/lockup.twig" %}

{% set attributes = attributes|without('class') %}
{% set modifier_class = attributes.class %}
{% set link = url('<front>') %}
{% if lockup is not empty %}
  {% set line3 = lockup.line3 %}
  {% set line4 = lockup.line4 %}
  {% set line5 = lockup.line5 %}
{% endif %}

{# Stuff and things. #}
{% set classes = 'su-lockup' %}

{# The variant classes change when there is more than one line to render. #}
{% if lockup.option is not empty %}
  {% set attributes = attributes.addClass(["su-lockup", "su-lockup--option-" ~ lockup.option]) %}
{% endif %}

{# Do not default the line 1 on variant O, S, or T #}
{% if lockup.option != "o" and lockup.option != "s" and lockup.option != "t" %}
  {% set line1 = content.site_name %}
{% endif %}

{# Grab the site1 variable if it is not empty #}
{% if lockup.line1 is not empty %}
 {% set line1 = lockup.line1 %}
{% endif %}

{# Default from the theme is to use the site slogan. #}
{% set line2 = site_slogan %}
{% if lockup.line2 is not empty %}
 {% set line2 = lockup.line2 %}
{% endif %}

{# If the theme has a custom logo. Use that. #}
{% if site_logo is not empty %}
  {% block cell1 %}
    <a href="{{ url('<front>') }}"><img src="{{ site_logo }}" alt="{{ site_name }}" class="su-lockup__custom-logo" /></a>
  {% endblock %}
{% endif %}
