@charset "UTF-8";

// Styles for controlling the number of characters in a line that can be displayed.

// Set a maximum line length.
// This sets a maximum width based the size of the letter "O".

li, p {
  max-width: 70ch;
}

p.text-align-right {
  text-align: right;
  margin-left: auto;
}

p.text-align-center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
