@charset "UTF-8";

// Styles for controlling the number of characters in a line that can be displayed.

// Set a maximum line length.
// This sets a maximum width based the size of the letter "O".

h2 {
  max-width: 34ch;
}

h3 {
  max-width: 41ch;
}

h4 {
  max-width: 68ch;
}

h5 {
  max-width: 70ch;
}

h6 {
  max-width: 80ch;
}

p {
  max-width: 68ch;
}

li {
  max-width: 70ch;
}
