@charset "UTF-8";

//
// Stanford Global Brand Bar
//

// Decanter.
@import
  'decanter-no-markup';

// Stanford Basic
@import
  'config/config',
  'utilities/utilities';

.brand-bar {
  background: $color-bright-red;
  color: $color-white;
  height: 40px;
  line-height: 50px;
  max-height: 40px;

  img {
    display: inline-block;
    width: 163px;
  }
}
