@charset "UTF-8";

//
// Stanford Global Footer
//

// Decanter
@import
  'decanter-no-markup';

// Stanford Basic
@import
  'config/config',
  'utilities/utilities';

#footer__global-footer {
  background-color: $color-cardinal-red;
  color: $color-white;
  text-align: center;
  width: 100%;

  @include padding(2.5rem null 2rem);

  @media only screen and (min-width: 600px) {
    text-align: left;
  }

  a {
    color: $color-white;
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  .su-brand {
    @include padding(0.15em null null);
  }

  #global-footer__brand {
    display: block;
    float: left;
    line-height: 4rem;

    @media only screen and (max-width: 767px) {
      float: none;
      text-align: center;

      @include margin(null null 10px null);
    }
  }

  #global-footer__nav {
    color: $color-white;
    display: block;
    font-weight: 300;
    float: left;
    width: calc(100% - 165px);

    @include margin(null null null 45px);

    @media only screen and (max-width: 767px) {
      float: none;
      text-align: center;
      width: auto;

      @include margin(null null null 0);
    }

    @media only screen and (max-width: 575px) {
      display: flex;
      font-weight: 400;
      flex-flow: row wrap;
      justify-content: center;
    }

    li {
      display: inline-block;

      @include margin(0);
    }

    a {
      @media only screen and (max-width: 575px) {
        text-align: left;

        @include margin(null null 10px null);
      }
    }

    #global-links {
      font-size: 17px;
      font-weight: $font-normal;

      @include margin(0 null 1rem);
      @include padding(0);

      @media only screen and (max-width: 767px) {
        @include margin(null null 1.5rem);
      }

      a {
        @include margin(null 1.7rem null null);
      }
    }

    #global-policy-links {
      font-size: 15px;

      @media only screen and (max-width: 575px) {
        font-size: 17px;
      }

      @include margin(0 null 1rem);
      @include padding(0);

      a {
        @include margin(null 1.5rem null null);
      }

      @media only screen and (max-width: 767px) {
        @include margin(null null 1.5rem);
      }
    }

    a {
      display: inline-block;

      @media only screen and (max-width: 575px) {
        display: block;
      }
    }
  }

  #global-footer__info {
    float: left;
    margin-left: 45px;
    width: calc(100% - 165px);

    @media only screen and (max-width: 767px) {
      float: none;
      text-align: center;
      width: auto;

      @include margin(null null null 0);
    }

    @media only screen and (max-width: 575px) {
      float: left;
      width: calc(100% - 40px);
      margin-left: 20px;
    }

    .vcard {
      font-size: 15px;
      font-weight: 300;

      @include margin(0 null 0.5rem);
    }
  }
}
