@charset "UTF-8";

//
// Custom Styles For Stanford Page Search form and search results.
//
// Search form on search results page
.search-form {
  @include margin(5rem 0);

  .form-search {
    display: inline-block;
  }
  @include grid-media-max('sm') {
    .form-submit {
      margin: 1em 0;
    }
  }
}

//Search results
.search-result__item {
  @include padding(20px 0 10px);

  border-top: 1px solid $su-color-driftwood;
  list-style: none;
}
