[class^="su-brand"], [class*=" su-brand"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Stanford", "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  transform: translateZ(0);
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.brand-bar {
  background: #b1040e;
  color: #ffffff;
  height: 40px;
  line-height: 50px;
  max-height: 40px; }
  .brand-bar img {
    display: inline-block;
    width: 163px; }

[class^="su-brand"], [class*=" su-brand"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Stanford", "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  transform: translateZ(0);
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

@media screen and (min-width: 481px) {
  .block--lockup {
    display: table; } }

.block--lockup__site-logo-wrapper {
  vertical-align: bottom;
  line-height: .8em; }
  @media screen and (min-width: 481px) {
    .block--lockup__site-logo-wrapper {
      border-right: 1px solid #2e2d29;
      display: table-cell;
      padding-right: 10px; } }

.block--lockup__site-logo {
  display: none; }
  @media screen and (min-width: 481px) {
    .block--lockup__site-logo {
      display: block;
      width: auto; }
      .block--lockup__site-logo img {
        width: 180px;
        max-width: 100%; } }

.block--lockup__site-name {
  font-size: 3.3rem;
  line-height: 3.5rem;
  vertical-align: bottom; }
  @media screen and (min-width: 481px) {
    .block--lockup__site-name {
      display: table-cell;
      padding-left: 10px; } }
  .block--lockup__site-name a {
    color: #2e2d29;
    display: block;
    text-decoration: none;
    margin-bottom: -5px; }

.block--lockup__site-slogan {
  font-size: 2.3rem;
  width: 100%;
  clear: both;
  margin-top: 5px;
  padding: 0; }

.breadcrumb li {
  list-style-type: none;
  display: inline-block; }

[class^="su-brand"], [class*=" su-brand"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Stanford", "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  transform: translateZ(0);
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#footer__global-footer {
  background-color: #8c1515;
  color: #ffffff;
  text-align: center;
  width: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2rem; }
  @media only screen and (min-width: 600px) {
    #footer__global-footer {
      text-align: left; } }
  #footer__global-footer a {
    color: #ffffff;
    text-decoration: none; }
    #footer__global-footer a:hover, #footer__global-footer a:focus {
      text-decoration: underline; }
  #footer__global-footer .su-brand {
    padding-top: 0.15em; }
  #footer__global-footer #global-footer__brand {
    display: block;
    float: left;
    line-height: 4rem; }
    @media only screen and (max-width: 767px) {
      #footer__global-footer #global-footer__brand {
        float: none;
        text-align: center;
        margin-bottom: 10px; } }
  #footer__global-footer #global-footer__nav {
    color: #ffffff;
    display: block;
    font-weight: 300;
    float: left;
    width: calc(100% - 165px);
    margin-left: 45px; }
    @media only screen and (max-width: 767px) {
      #footer__global-footer #global-footer__nav {
        float: none;
        text-align: center;
        width: auto;
        margin-left: 0; } }
    @media only screen and (max-width: 575px) {
      #footer__global-footer #global-footer__nav {
        display: flex;
        font-weight: 400;
        flex-flow: row wrap;
        justify-content: center; } }
    #footer__global-footer #global-footer__nav li {
      display: inline-block;
      margin: 0; }
    @media only screen and (max-width: 575px) {
      #footer__global-footer #global-footer__nav a {
        text-align: left;
        margin-bottom: 10px; } }
    #footer__global-footer #global-footer__nav #global-links {
      font-size: 17px;
      font-weight: 400;
      margin-top: 0;
      margin-bottom: 1rem;
      padding: 0; }
      @media only screen and (max-width: 767px) {
        #footer__global-footer #global-footer__nav #global-links {
          margin-bottom: 1.5rem; } }
      #footer__global-footer #global-footer__nav #global-links a {
        margin-right: 1.7rem; }
    #footer__global-footer #global-footer__nav #global-policy-links {
      font-size: 15px;
      margin-top: 0;
      margin-bottom: 1rem;
      padding: 0; }
      @media only screen and (max-width: 575px) {
        #footer__global-footer #global-footer__nav #global-policy-links {
          font-size: 17px; } }
      #footer__global-footer #global-footer__nav #global-policy-links a {
        margin-right: 1.5rem; }
      @media only screen and (max-width: 767px) {
        #footer__global-footer #global-footer__nav #global-policy-links {
          margin-bottom: 1.5rem; } }
    #footer__global-footer #global-footer__nav a {
      display: inline-block; }
      @media only screen and (max-width: 575px) {
        #footer__global-footer #global-footer__nav a {
          display: block; } }
  #footer__global-footer #global-footer__info {
    float: left;
    margin-left: 45px;
    width: calc(100% - 165px); }
    @media only screen and (max-width: 767px) {
      #footer__global-footer #global-footer__info {
        float: none;
        text-align: center;
        width: auto;
        margin-left: 0; } }
    @media only screen and (max-width: 575px) {
      #footer__global-footer #global-footer__info {
        float: left;
        width: calc(100% - 40px);
        margin-left: 20px; } }
    #footer__global-footer #global-footer__info .vcard {
      font-size: 15px;
      font-weight: 300;
      margin-top: 0;
      margin-bottom: 0.5rem; }

[class^="su-brand"], [class*=" su-brand"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "Stanford", "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  transform: translateZ(0);
  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.menu--main ul {
  margin: 0 0 -1em 0; }

.menu--main li {
  font-family: "Source Sans Pro", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  display: inline-block;
  margin-right: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px; }

.menu--main a {
  display: inline-block;
  font-size: 1.8rem;
  padding-bottom: 20px;
  font-weight: 400; }

.menu--main a:hover,
.menu--main a.is-active,
.menu--main .menu-item--active-trail a {
  text-decoration: none;
  color: #2e2d29;
  border-bottom: solid 3px #2e2d29; }

#navigation li {
  list-style-type: none;
  display: inline-block; }

.pager__item {
  display: inline; }
  .pager__item a {
    display: inline-block; }

.site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0; }
