{% extends "page.html.twig" %}

{# Remove Nav and Search. #}
{%- block block_header -%}
  {%- if page.header -%}
    <header class="su-masthead su-masthead--right">
      <section>
        {{ page.header }}
      </section>
    </header>
  {%- endif -%}
{%- endblock -%}

{% block block_footer %}
<footer id="footer">
  {%- include template_global_footer -%}
</footer>
{% endblock %}
