{%- include "@basic-dist/decanter/components/brand-bar/brand-bar.twig" with { modifier_class : brand_bar_variant } -%}

{%- if page.help -%}
  {{ page.help }}
{%- endif -%}
<header class="su-masthead su-masthead--right">
  <section>
  {%- if page.header -%}
    {{ page.header }}
  {%- endif -%}
  </section>
</header>

<div class="page-content" id="page-content">
  {{ page.content }}
</div>

<footer id="footer">
  {%- include "@basic-dist/decanter/components/global-footer/global-footer.twig" -%}
</footer>
