{%- include "@basic-dist/decanter/components/brand-bar/brand-bar.twig" with { modifier_class : brand_bar_variant } -%}

{%- if page.help -%}
  {{ page.help }}
{%- endif -%}

<div class="page-content">
  <a name="page-content" id="page-content" tabindex="-1" class="visually-hidden focusable">Page Content</a>

  <section class="su-back-to-site">
    <h2><a href="/home" class="su-link su-button">Back to your site</a></h2>
  </section>

  {{ page.content }}
</div>

<footer id="footer">
  {%- include "@basic-dist/decanter/components/global-footer/global-footer.twig" -%}
</footer>
