{% extends "page.html.twig" %}
{# same brandbar block -- inheritted now #}
{# same help block -- inheritted now #}

{% block header %}
    <section>
    {%- if page.header -%}
      {{ page.header }}
    {%- endif -%}
    </section>
{% endblock %}

{# same main block -- inheritted now #}
{# same footer block -- inheritted now #}
