{% extends "page.html.twig" %}

{# same brandbar block -- inheritted now #}

{# same help block -- inheritted now #}

{% block header %}
  <header class="su-masthead su-masthead--right">
      <section>
      {%- if page.header -%}
        {{ page.header }}
      {%- endif -%}
      </section>
  </header>
{% endblock %}

{# same main block -- inheritted now #}

{# same footer block -- inheritted now #}
