@charset 'UTF-8';

// Path to Decanter Assets.
$su-image-path: "~decanter-assets";
$basic-image-path: "basic-assets" + "/img";
$basic-svg-path: "basic-assets" + "/svg";
$fa-font-path: "~fa-fonts";
$theme-asset-path: "../../assets/svg";
