@charset "UTF-8";

// Set a maximum line length in the WYSIWYG.
//
// This controls the number of characters that can be displayed in a line
// This sets a maximum width based the size of the letter "O".

.su-wysiwyg-text {
  p {
    max-width: 100ch;
  }

  p {
    &.text-align-right {
      text-align: right;
      margin-left: auto;
    }

    &.text-align-center {
      text-align: center;
      margin-left: auto;
      margin-right: auto;
    }
  }
}
