@charset 'UTF-8';

.jumpstart-ui--one-column {
  .su-page-components {
    .react-paragraphs-row {

      //start stacking elements
      @include grid-media-between('xs', 'md') {
        display: block;
      }

      // Setting the max width to help with display and
      // to keep the large margins on full-width and the
      // homepage
      @include grid-media('xl') {
        .ptype-stanford-card.flex-3-of-12,
        .ptype-stanford-media-caption.flex-3-of-12,
        .ptype-stanford-wysiwyg.flex-3-of-12 {
          max-width: 25%;
        }

        .ptype-stanford-card.flex-4-of-12,
        .ptype-stanford-media-caption.flex-4-of-12,
        .ptype-stanford-wysiwyg.flex-4-of-12 {
          @include margin(null 0);

          max-width: 33%;
        }
      }

      &.container-6-columns {
        @include grid-media-only('lg') {
          .ptype-stanford-card,
          .ptype-stanford-media-caption,
          .ptype-stanford-wysiwyg {
            max-width: 400px;
          }
        }
      }

      &.container-4-columns {
        @include grid-media-only('lg') {
          .ptype-stanford-card,
          .ptype-stanford-media-caption,
          .ptype-stanford-wysiwyg {
            max-width: 200px;
          }
        }
      }

      &.container-3-columns {
        @include grid-media-only('lg') {
          display: block;
        }
      }
    }
  }
}




